{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [ "babel","react" ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {

    "semi": 1,
    "no-cond-assign": 1,
    "no-unreachable": 1,
    "block-scoped-var": 2,
    "no-undef": 2,
    "no-redeclare": 2,
    "no-shadow": [2, {"hoist": "functions", "allow": ["e"] }],
    "no-param-reassign": 0,
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef": 2,
    "react/react-in-jsx-scope": 2
  },

  "globals": {
    "cssInJS": true,
    "__PRODUCTION__": true
  }
}
